<%- include('../partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= story.title%></div>
    <form class="ui form" action="/stories/<%= story._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="story[title]" value="<%= story.title%>">
        </div>
        <div class="field">
            <label>Image Url</label>
            <input type="text" name="story[image]" value="<%= story.image%>">
        </div>
        <div class="field">
            <label>Story</label>
            <textarea name="story[body]" name="editor1" class="ckeditor" id="editor1" rows="10" cols="80"><%= story.body%></textarea>
            <script>
                CKEDITOR.replace( 'editor1' );
            </script>
        </div>
        <input class="ui red inverted button" value="Update" type="submit">
    </form>
</div>


<%- include('../partials/footer') %>